body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	justify-items: stretch;
	grid-template-columns: repeat(4, 1fr);

}

input {
	grid-column: 1/5;
}